h1, p {
  font-family: 'Roboto',Lato, serif;
  text-align: center;
	align-items: center;
  justify-content: center;
	display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}